<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<connectionStrings>
		<add name="dbConnectionString" providerName="System.Data.sqlclient" connectionString="Data Source=192.168.90.62;Initial Catalog=Spear.WMS_10AM;User ID=sa; Password=sql@123" />
	</connectionStrings>

  
    <appSettings>
      <add key="CompanyName" value="Imp/Pkd. By Atlas Copco (India) Ltd." />
      <add key="Address" value="Atlas Copco (India) Ltd.\nCompressor Technique,Gat No. 397, Vitthalwadi,Lonikand,Pune-\n412216,Maharastra,India. Customer Care No. 020-39852521\nEmail: ctlogistics.helpdesk@in.atlascopco.com" />
    </appSettings>

</configuration>